[Desktop Entry]
Icon=image-jpeg
Name=screenshot.jpg
Type=Link
URL[$e]=file:///usr/share/wallpapers/Path/contents/screenshot.jpg
X-KDE-LastOpenedWith=systemsettings
