[Desktop Entry]
Icon=image-jpeg
Name=real-wood.jpg
Type=Link
URL[$e]=file:///usr/share/wallpapers/real-wood/real-wood.jpg
X-KDE-LastOpenedWith=systemsettings
