[Desktop Entry]
Icon=text-html
Name=
Type=Link
URL[$e]=https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/
X-KDE-LastOpenedWith=firefox
