[Desktop Entry]
Comment=Dots Archlinux Splashscreen

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Dots Archlinux Splashscreen

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=mrmaire
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=maire.nunez@gmail.com
X-KDE-PluginInfo-License=GNU GPL v3
X-KDE-PluginInfo-Name=Dots-Archlinux
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-fallbackPackage=
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=
